body {background-color: black;}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: larger;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#des{
    color: yellow;
    font-style: initial;
    font-size: medium;
}